<div class="card" style="max-width: 100%; height: auto">
  <div class="card-header">Data Binding</div>
  <img
    class="card-img-top"
    src="{{ imgUrl }}"
    alt="Card image"
    style="width: 100%"
  />
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title">{{ name }}</h4>
      <p class="card-title font-weight-bold font-italic">{{ id }}</p>
    </div>
    <p class="card-text">
      <li>Age: {{ age }}</li>
    </p>
    <p class="font-italic"><b>Bio</b> : {{ bio }}</p>
  </div>
</div>
