<div class="card">
  <div class="card-body">
    <p class="font-italic font-weight-bold">Send value to Parent Component</p>
    <hr />
    <form>
      <div class="form-group">
        <label for="bio">Bio</label>
        <input
          [formControl]="bio"
          name="bio"
          type="text"
          class="form-control"
          id="bio"
          placeholder="Type your bio..."
        />
      </div>
      <button
        (click)="sendValueToParent()"
        type="submit"
        class="btn btn-primary mb-2"
      >
        Send to Parent (Profile)
      </button>
    </form>
  </div>
</div>
