<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-profile></app-profile>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <p class="mb-4 h3">Event binding</p>
          <app-event-binding></app-event-binding>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-body">
          <p class="mb-4 h3">Two way binding</p>
          <app-comment></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>
